In [4]:
import pandas as pd
import numpy as np

In [5]:
taxon_df = pd.read_csv("données/taxon.csv")
taxon_denombre_df = pd.read_csv("données/taxon_denombre.csv")
liste_df = pd.read_csv("données/liste_faunistique_floristique.csv")
stations_df = pd.read_csv("données/station.csv")
physicochimie_df = pd.read_csv("données/physicochimie.csv")
alteration_df = pd.read_csv("données/classe_alteration_seq_eau.csv")

In [6]:
criteres_tailles = taxon_denombre_df[taxon_denombre_df["critere_taxon"].str.contains(r"(?i)longueur")] \
                   ["critere_taxon_id"] \
                   .unique() \
                   .tolist()

criteres_tailles

[2, 4, 6, 11, 13, 15]

In [11]:
criteres_tailles_desc = taxon_denombre_df[taxon_denombre_df["critere_taxon"].str.contains(r"(?i)longueur")] \
                   ["critere_taxon"] \
                   .unique() \
                   .tolist()

criteres_tailles_desc

['Longueur Minimale totale exprimée en mm',
 'Longueur Individuelle totale exprimée en mm',
 'Longueur Maximale totale exprimée en mm',
 'Longueur Individuelle à la fourche exprimée en mm',
 'Longueur Minimale à la fourche exprimée en mm',
 'Longueur Maximale à la fourche exprimée en mm']

Par taxons, par critère, pour une liste ff : une unique valeur

In [7]:
length_taxons = taxon_denombre_df[taxon_denombre_df["critere_taxon_id"].isin(criteres_tailles)]
# print(length_taxons.sort_values("taxon_id"))
length_taxons\
    .drop(columns=["critere_taxon"])\
    .groupby(["taxon_id", "critere_taxon_id", "liste_ff_id"])\
    .count()\
    ["valeur"]\
    .unique()

array([1])

In [8]:
length_taxons

,liste_ff_id,taxon_id,valeur,critere_taxon,critere_taxon_id
2,3663043,2080,60.0,Longueur Minimale totale exprimée en mm,2
9,3671035,2080,32.0,Longueur Individuelle totale exprimée en mm,4
32,3671035,2221,40.0,Longueur Individuelle totale exprimée en mm,4
50,3663043,2221,53.0,Longueur Individuelle totale exprimée en mm,4
58,3671035,2080,87.0,Longueur Maximale totale exprimée en mm,6
...,...,...,...,...,...
1569172,3676992,2071,86.0,Longueur Maximale totale exprimée en mm,6
1569183,3647224,2131,25.0,Longueur Minimale totale exprimée en mm,2
1569185,3666127,2104,71.0,Longueur Individuelle totale exprimée en mm,4
1569189,3676992,2096,258.0,Longueur Individuelle totale exprimée en mm,4
1569193,3644508,2129,56.0,Longueur Maximale totale exprimée en mm,6

On garde que les critères de chaque taxons pour lesquelles on a assez de valeurs pour étudier l'évolution

In [9]:
a = length_taxons\
    .drop(columns=["critere_taxon"])\
    .groupby(["taxon_id", "critere_taxon_id"])\
    ["liste_ff_id"]\
    .count()

a[a > 50]

taxon_id  critere_taxon_id
868       4                     91
871       4                   1561
873       4                    551
2010      4                    137
2012      2                    106
                              ...
31041     11                  1454
          13                   313
          15                   313
31135     4                    328
          11                   131
Name: liste_ff_id, Length: 153, dtype: int64